{
    "NOTIFICATION_WHEN_RISEN_ABOVE": [
        "PB2"
    ],
    "SENSOR_NAMES": [
        "BG5",
        "BG4",
        "BG3",
        "BG2",
        "BG1",
        "BG0"
    ],
    "WATER_LEVEL_NAMES": [
        "PB6",
        "PB5",
        "PB4",
        "PB3",
        "PB2",
        "PB1",
        "PB0"
    ],
    "DELAYS": {
        "PB6": 3600,
        "PB5": 3600,
        "PB4": 3600,
        "PB3": 3600,
        "PB2": 1800,
        "PB1": 600,
        "PB0": 600
    },
    "NOTIFICATION_MESSAGES": {
        "PB6": "VOLL",
        "PB5": "GEFÜLLT",
        "PB4": "GEFÜLLT",
        "PB3": "GEFÜLLT",
        "PB2": "ÜBERGANGSBEREICH",
        "PB1": "KRITISCHER BEREICH",
        "PB0": "LEER"
    },
    "SENDER_EMAIL_ADDRESS": "mygmail@gmail.com",
    "SENDER_EMAIL_PASSWD": "<your password>",
    "RECEIVER_EMAIL_ADDRESS": "yourgmail@gmail.com"
}